/* =========================
   INTRO SECTION
========================= */
.intro-section {
  min-height: 100vh;
  background-image: url("../images/background-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.intro-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.58);
}

.intro-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  text-align: center;
  color: white;
}

.intro-logo {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: contain;
  background: white;
  padding: 28px;
  margin-bottom: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.intro-content h1 {
  font-size: 42px;
  margin-bottom: 25px;
  color: #c49a6c;
  font-weight: 800;
}

.intro-content h1 span {
  color: white;
}

.intro-content p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 780px;
  margin: 0 auto 18px;
  color: #f2f2f2;
}

.primary-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 17px 48px;
  background: #0e3a5a;
  color: white;
  border-radius: 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.28);
}

.primary-btn:hover {
  background: #c49a6c;
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 60px 22px;
  }

  .intro-logo {
    width: 170px;
    height: 170px;
  }

  .intro-content h1 {
    font-size: 30px;
  }

  .intro-content p {
    font-size: 16px;
  }

  .primary-btn {
    font-size: 17px;
    padding: 15px 38px;
  }

  .activity-section {
    padding: 65px 6%;
  }
  .activity-card img {
    height: 210px;
  }

  .joined h2 {
    font-size: 25px;
  }

  .logo-track {
    gap: 25px;
  }

  .logo-card {
    width: 145px;
    height: 88px;
  }

  .bottom-section {
    padding: 65px 6% 30px;
  }

  .bottom-logo {
    width: 190px;
    height: 190px;
  }

  .social-icons a,
  .social-disabled {
    width: 48px;
    height: 48px;
  }

  .footer-column h3 {
    font-size: 22px;
  }

  .footer-column a,
  .footer-column p {
    font-size: 15px;
  }

  .copyright {
    margin-top: 45px;
    font-size: 13px;
  }
}