<!-- INTRO SECTION -->
<section class="intro-section">
    <div class="intro-overlay"></div>

    <div class="intro-content">
      <img src="images/background/HaverseXchange Logo.jpg" alt="HaverseXchange Logo" class="intro-logo">

      <h1>
        Building Dream, <span>Growing Future.</span>
      </h1>

      <p>
        Haverse Xchange is a professional business networking platform created to connect
        companies, professionals, investors, landowners, consultants, and service providers
        within the property development ecosystem.
      </p>

      <p>
        Through Haverse Xchange, we aim to build stronger collaboration, create new business
        opportunities, and support long-term growth together with our trusted partners.
      </p>

      <a href="https://www.jotform.com/form/242338493059059" target="_blank" rel="noopener noreferrer" class="primary-btn">
        SIGN UP NOW
      </a>
    </div>
</section>

